.price--container {
  margin: 20px 0;
  padding-top: 20px;
}
.price--header {
  text-align: center;
  font-size: 40px;
  color: var(--color-blue);
}

.service--card {
  width: 20rem;
  height: 25rem;
  box-shadow: 1px 1px 5px black;
  text-align: center;
  display: grid;
  align-items: center;
  margin: 0 auto 20px;
}
.price--cardGroup {
  margin: 10px 0;
}
.card-title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 900;
  margin: 5px 0;
}
.card-text {
  font-size: medium;
  margin: 15px 0;
}
.pice--card-btn {
  background: var(--color-blue);
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
}

.price--dollar {
  color: var(--color-blue);
  font-weight: 600;
  font-size: large;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.price--number {
  font-size: 40px;
}
.price-ul {
  margin: 10px 0;
}
.price-li {
  margin: 10px 0;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .price--cardGroup {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    width: 80%;
    margin: 40px auto 0;
  }
}
@media screen and (min-width: 1200px) {
  .price--cardGroup {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin: 40px auto 0;
  }
}
